body{
    margin: 10px;
    border: 0;
    box-shadow: 0 0 20px 10px skyblue;
font-family: 'Montserrat', sans-serif;

}

/* navbar section */
.design{
    dosplay:flex;
    justify-content: space-between;
    margin-right:10px;
    padding-right: 20px;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.logo{
    width:250px;
    height: auto;
    background-color:white;
}

/* hero section */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4;}
  to {opacity: 1;}
}

.typing{
    margin-top:70px;
    padding-left:50px;
}

.text{
    line-height:1.5;
    font-weight:bold;
    font-size:40px;
}

.ima{
    margin-left:10px;
}

/* .fix{
    white-space: nowrap; 
} */

.btn{
    background-color:#0077B5;
    color: white;
    padding: 10px;
}

/* About us */
.about-text{
    text-align: center;
    padding-top: 50px;
    font-size:16px;
    letter-spacing: 5px;
    font-weight: bold;
}

.about-h1{
    text-align: center;
    font-size: 80px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:40px;
}




// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
    margin: 10px;
    border: 0;
    box-shadow: 0 0 20px 10px skyblue;
}
.design{
    dosplay:flex;
    justify-content: space-between;
    margin-right:10px;
    padding-right: 20px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.logo{
    width:250px;
    height: auto;
    background-color:white;    
}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
     body{
    margin: 10px;
    border: 0;
    box-shadow: 0 0 20px 10px skyblue;
}
.design{
    dosplay:flex;
    justify-content: space-between;
    margin-right:10px;
    padding-right: 20px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.logo{
    width:250px;
    height: auto;
    background-color:white;    
} 
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { body{
    margin: 10px;
    border: 0;
    box-shadow: 0 0 20px 10px skyblue;
}
.design{
    dosplay:flex;
    justify-content: space-between;
    margin-right:10px;
    padding-right: 20px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.logo{
    width:250px;
    height: auto;
    background-color:white;
}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { body{
    margin: 10px;
    border: 0;
    box-shadow: 0 0 20px 10px skyblue;
}
.design{
    dosplay:flex;
    justify-content: space-between;
    margin-right:10px;
    padding-right: 20px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.logo{
    width:250px;
    height: auto;
    background-color:white;
}
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
     body{
    margin: 10px;
    border: 0;
    box-shadow: 0 0 20px 10px skyblue;
}
.design{
    dosplay:flex;
    justify-content: space-between;
    margin-right:10px;
    padding-right: 20px;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.logo{
    width:250px;
    height: auto;
    background-color:white;
}
}
